

### by BitWorker
###
###
PubkeyAuthentication no
PermitRootLogin no
PasswordAuthentication no

Match Host XXX
    PasswordAuthentication yes
    PermitRootLogin yes
    PubkeyAuthentication yes    
