[Unit]
Description=Borg Backup fuer 192.168.0.10
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=CONFIG_FILE=/etc/bitworker/borg/192.168.0.10.conf
ExecStart=/etc/bitworker/borg/bw-pulljob.sh backup
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
